%*
*%
*.a
*.bak
*.chtml
*.dep
*.intermediate
*.exe
*.exp
*.manifest
*.user
*.*~
*.swp
*.hex
*.htm
*.hhtml
*.lib
*.dll
*.lst
*.map
*.mxp
*.o
*.o40
*.o30
*.a30
*.a40
*.obj
*.out
*.opt
*.s
*.s40
*.s30
*.tmp
*.ut
.HoldDirectoryFinderInfoForMacNFS
vc40.*
.nfs*
*.pix
*.float
*.seq
*_depend.mak
*.sbr
*.idb
*.pch
*.pdb
*.ncb
*.plg
so_locations
dep.txt
.DS_Store
opencv_2.4.2_Linux/
REEF/